
*.xcuserstate


Iwanna/Classes/.DS_Store

Iwanna.xcodeproj/project.xcworkspace/xcuserdata/fuyuan.xcuserdatad/UserInterfaceState.xcuserstate

Iwanna.xcodeproj/project.xcworkspace/xcuserdata/yikai.xcuserdatad/UserInterfaceState.xcuserstate

