<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>18518965558</string>
				<key>icon</key>
				<string>tempImage_selected</string>
				<key>details</key>
				<string></string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessoryImage</key>
				<string>arrow_right</string>
				<key>targetVcName</key>
				<string></string>
				<key>plistName</key>
				<string></string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleDefault</string>
				<key>isHighlighted</key>
				<string>NO</string>
				<key>switchName</key>
				<string></string>
				<key>timeString</key>
				<string></string>
				<key>funcName</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>邮箱</string>
				<key>icon</key>
				<string>tempImage_selected</string>
				<key>details</key>
				<string></string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessoryImage</key>
				<string>arrow_right</string>
				<key>targetVcName</key>
				<string></string>
				<key>plistName</key>
				<string></string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleDefault</string>
				<key>isHighlighted</key>
				<string>NO</string>
				<key>switchName</key>
				<string></string>
				<key>timeString</key>
				<string></string>
				<key>funcName</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>我的收藏</string>
				<key>icon</key>
				<string>tempImage_selected</string>
				<key>details</key>
				<string></string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessoryImage</key>
				<string>arrow_right</string>
				<key>targetVcName</key>
				<string></string>
				<key>plistName</key>
				<string></string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleDefault</string>
				<key>isHighlighted</key>
				<string>NO</string>
				<key>switchName</key>
				<string></string>
				<key>timeString</key>
				<string></string>
				<key>funcName</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>关于我们</string>
				<key>icon</key>
				<string>tempImage_selected</string>
				<key>details</key>
				<string></string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessoryImage</key>
				<string>arrow_right</string>
				<key>targetVcName</key>
				<string></string>
				<key>plistName</key>
				<string></string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleDefault</string>
				<key>isHighlighted</key>
				<string>NO</string>
				<key>switchName</key>
				<string></string>
				<key>timeString</key>
				<string></string>
				<key>funcName</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>常见Q&amp;A</string>
				<key>icon</key>
				<string>tempImage_selected</string>
				<key>details</key>
				<string></string>
				<key>accessory</key>
				<string>UIImageView</string>
				<key>accessoryImage</key>
				<string>arrow_right</string>
				<key>targetVcName</key>
				<string></string>
				<key>plistName</key>
				<string></string>
				<key>cellStyle</key>
				<string>UITableViewCellStyleDefault</string>
				<key>isHighlighted</key>
				<string>NO</string>
				<key>switchName</key>
				<string></string>
				<key>timeString</key>
				<string></string>
				<key>funcName</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
